@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
/* font-family: 'Forum', serif; */


:root {
	--scroll: 0;
	--primary: #e16d17;
    --secondary: #ea833a;
	--gray: #424242;
}

body {
	background-color: "#ea833a";
	height:5000px;
}



#root {
	/* background-color: var(--swatch-primary); */
	font-family: "Lexend Exa";
	position: absolute;
	width: 100%;
	left: 0%;
	height: 100%;
	top: 0%;
	overflow: hidden;
}

#app-root {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}

/* 
* Css for scroll bar
* this apllies to all scroll bars in the app
*/
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #e7e7e7;
	border: 1px solid #cacaca;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #363636;
}
/* Css for scroll bar end*/



/* 
* Base Box css for text appearing animation
* The "Second" classes are ment for the sub texts
* these can be attached to any comp for future use
*/
.RevealText{
	font-size: 60px;
	font-weight: 1000;
	position: relative;
	color: transparent;
	font-family: 'Forum', serif;
	animation: ShowTextLR forwards;
	animation-delay: 1200ms;
}
.RevealTextSecond{
	font-size: 24px;
	font-weight: 800;
	position: relative;
	color: transparent;
  
	animation: ShowTextLR forwards;
	animation-delay: 1800ms;
  }

.RevealBox{
	height: 100%;
	width: 0%;
	scale: 0, 1;
	position:absolute;
	background: var(--gray);
	animation: DivAppear 1200ms ease-out;
	animation-delay: 500ms;
	left: 0
}

.RevealBoxSecond{
	height: 100%;
	width: 0%;
	scale: 0, 1;
	position:absolute;
	background: var(--gray);
	animation: DivAppear 1200ms ease-out;
	animation-delay: 900ms;
	left: 0
}


@keyframes DivAppear{

	80% { 
		width: 100%;
		left: 0;
		
	}
	100%{
		width: 0%;
		left: 100%;
		height:100%
	}
}

@keyframes ShowTextLR{
	to{
		/* color: var(--gray) */
		color: white
	}
}
/* Base Box css for text appearing animation end*/

/*
* The arrow annimations
*/




/* .inputRounded .MuiOutlinedInput-root{
	border-radius: 50px;
 }
#homepage-screen {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	/* background-color: var(--swatch-primary); 
} */

